In [9]:
fruit=['apple','orange','cherry']
print(fruit)

['apple', 'orange', 'cherry']

In [10]:
for x in fruit:
    print(x)

apple
orange
cherry

In [16]:

for x in fruit:
    print(x.upper())
    print('kiran')

print('kamran')

APPLE
kiran
ORANGE
kiran
CHERRY
kiran
kamran

In [17]:
#range(start(defult =0),end, step(defult =1))
for i in range(2, 10, 2):
    print(f'{i}-kamran')

2-kamran
4-kamran
6-kamran
8-kamran

In [19]:
for i in range(10):
    print(f'{i} kiran')

0 kiran
1 kiran
2 kiran
3 kiran
4 kiran
5 kiran
6 kiran
7 kiran
8 kiran
9 kiran

In [ ]:
#int()
#float()
#bool()
#str()

#list()
#tuple()
#dict()

In [20]:
number = list(range(0,11,4))
print(number)

[0, 4, 8]

In [25]:
number = [1,2,3,4,5]
square =[]
for x in number:
    x = x**2
    square.append(x)
    print(square)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]

In [26]:
print(square)

[1, 4, 9, 16, 25]

In [27]:
[x**2 for x in number]

[1, 4, 9, 16, 25]

In [31]:
name =['kiran','kamran','hiba']
print(f"hello {name[0]}, you are invite for dinner")
print(f"hello {name[1]}, you are invite for dinner")
print(f"hello {name[2]}, you are invite for dinner")
for names in name:
    print(f"{name[])

hello kiran, you are invite for dinner
hello kamran, you are invite for dinner
hello hiba, you are invite for dinner
['kiran', 'kamran', 'hiba']
['kiran', 'kamran', 'hiba']
['kiran', 'kamran', 'hiba']

In [32]:
name =['a','b','c']
name[1]='e'
print